/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,500;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
    background-color: #000000;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    color: #ffffff;
    scroll-behavior: smooth;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(148, 148, 148) #000000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

.inria {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a {
    text-decoration: none;;
}

/* Header */

header {
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 5vw;
    padding: 0.5rem 0 0.5rem 0;
    line-height: 100%;
    margin: 0;
}
.header-div {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 0 2rem 0;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 5rem auto 5rem 5rem;
}
.header-text p {
    padding: 0;
    margin: 1rem 0;
    font-size: 1.5vw;
    color: #d2d2d2;
}

.header-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-img img {
    height: auto;
    width: 40vw;
}

@media screen and (max-width: 500px) {
    header {
        height: 90%;
    }
    .header-div {
        padding: 2rem 0 0 0;
        flex-direction: column;
        width: 100%;
    }
    header h1 {
        font-size: 15vw;
        padding: 0.5rem 0 0.5rem 0;
        line-height: 100%;
        margin: 0;
    }
    .header-img img {
        height: auto;
        width: 90vw;
        margin: 2rem 0 0rem 0;
    }
    .header-text p {
        padding: 0;
        margin: 0;
        font-size: 5vw;
    }
    header a {
        display: none;
    }
}

/* SCROLL DOWN ANIMATION*/

#mouse-scroll {
    margin: auto;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}
#mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite; 
    -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
    animation-delay: .1s; 
    -webkit-animation-delay: .1s; 
    -moz-animation-delay: .1s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
    animation-delay: .2s; 
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}
#mouse-scroll .mouse-in {
    animation: animated-mouse 1.2s ease infinite;
    -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
}

@keyframes animated-mouse {
0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}
}
@-webkit-keyframes animated-mouse {
0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}
}
@-webkit-keyframes mouse-scroll {
0% {
    opacity: 1;
}
50% {
    opacity: .5;
}
100% {
    opacity: 1;
} 
}
@keyframes mouse-scroll {
0% {
    opacity: 0;
}
50% {
    opacity: 0.5;
}
100% {
    opacity: 1;
}
}

/* SECTION COMMON STYLES */

section {
    height: max-content;
    margin: 5rem 0 7rem 0;
}

h2 {
    font-size: 10vw;
    line-height: 100%;
    padding: 0;
    width: 75%;
}
h2.poppins-thin {
    font-weight: bold;
    margin: 5rem 0 5rem 0;
}

@media screen and (max-width: 500px) {
    section {
        margin: 0 0 4rem 0;
        width: 100%;
    }
    h2 {
        width: 100%;
    }
    h2.poppins-thin {
        font-size: 15vw;
        margin: 1rem 0;
    }
}

/* SKILLS SECTION */

.skills-list {
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-shrink: 1;
}

#skills span {
    margin: 2rem;
    color: #ffffff;
    border-radius: 20px;
    padding: 0 1.5rem;
    box-shadow:  5px 5px 10px rgba(25, 25, 25, 0.645),
             -5px -5px 10px rgba(60, 60, 60, 0.397);
}

@media screen and (max-width: 500px) {
    .skills-list {
        font-size: 4vw;
        margin: 0;
    }
    #skills span {
        margin: 0.7rem 0;
    }

}

/* EXPERIENCE SECTION */
h3 {
    font-size: 3vw;
    line-height: 100%;
}
.job {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 80vh;
}

.job-description {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 0;
    flex: 2;
    padding: 0 2rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.left {
    margin: 0 0 0 5vw;
}

.job-description a{
    font-size: 1.5vw;
    color: #6d818e;
}

.job-description a:hover {
    cursor: pointer;
    text-shadow: #b3b3b3 0px 0px 3px;
}
.job-description ul {
    font-size: 1vw;
    max-width: 80%;
}
.job-img {
    display: flex;
    flex: 1;
    padding: 2rem;
}

.job-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
}

li::marker {
    content: "▪   ";
    color: #FBAD31;
    color: #6d818e;
}
@media screen and (max-width: 500px) {
    .job {
        flex-direction: column;
        /* flex-shrink: 1; */
        min-height: fit-content;
        height: 100%;
        margin: 3rem 0;
    }
    h3 {
        font-size: 7vw;
    }
    .job-description {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .job-description ul li{
        width: 85vw;
    }
    .job-description ul {
        font-size: 4vw;
    }
    .job-description a {
        font-size: 4vw;
    }
    .left-mobile {
        flex-direction: column-reverse;
        top: 100vh;
    }
    li::marker {
        content: "▪ ";
        color: #6d818e;
    }
    .job-img {
        display: flex;
        flex: 1;
        padding: 2rem 0 0 0;
    }
}

/* PROJECTS SECTION */
#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.card {
    max-width: 350px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* border: 1px solid transparent; */
    margin: 2rem;
    min-height: fit-content
}

.card a {
    text-decoration: none
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-color: #6B7280;;
    border-radius: 7px 7px 0 0;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* text-align: justify; */
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #6B7280;;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
transition: .3s ease;
}

.action:hover span {
transform: translateX(4px);
}

.action .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 12
    }

/* ACCOMPLISHMENTS SECTION */
#accomplishments {
    font-size: 1.5vw;
}

@media screen and (max-width: 500px) {
    #accomplishments {
        font-size: 5vw;
    }
}
/* CONTACT SECTION  */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contact p.inria {
    font-size: 1.5vw;
    margin: 2rem 0 3rem 0;
    text-align: justify;
}

.contact {
    display: flex;
    color: #ffffff;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact a {
    text-decoration: none;
    padding: 0.5rem;
    font-size: 5vw;
    line-height: 120%;
    color: #6d818e;
}
.contact .mail {
    font-size: 5vw;
    padding: 0rem 10rem;
}
.contact a:hover {
    color: #ffffff;
    text-shadow: #c1c1c1 0px 0px 5px;
}

@media screen and (max-width: 500px) {
    #contact p.inria {
        font-size: 5vw;
    }
    #contact h2 {
        margin: 1rem 0;;
    }
    .contact a {
        padding: 2rem 0 0 0;
        font-size: 7vw;
    }
    .contact .mail {
        padding: 0;
        font-size: 7vw;
    }
}

/* FOOTER SECTION  */
@media screen and (max-width: 500px) {
    footer {
        padding : 0;
        height: max-content;
        margin: 1rem 0 0 0;
    }
    footer .poppins-thin {
        font-size: 4vw;
        font-weight: 200;
        padding: 0 1rem;
        line-height: 20%;
    }
}

footer {
    text-align: center;
    padding: 0.2rem 0;
    margin: 1rem 0 3rem 0;
    background-color: #f0f0f0;
    color: #000000;;
    width: 100%;
    bottom: 0;
    border-radius: 5rem;
}
footer:hover {
    cursor: pointer;
    background-color: #ffffff;
    box-shadow:  5px 5px 10px rgb(25, 25, 25),
    -5px -5px 10px rgb(60, 60, 60);
}
footer .poppins-thin {
    font-weight: 200;
}
footer .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 12
}
